@font-face {
    font-family: 'PixelFont';
    src: url('fonts/pixelfont.otf') format('truetype');
}

h3 {
    font-family: 'PixelFont', sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
}

.website-features {
    text-align: center;
}

#namecard {
    display: flex; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.7);  
    color: white;                           
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    border: 5px solid black;                       
    border-radius: 10px;                    
}


.profile-img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    margin-right: 25px; 
    object-fit: cover;
}

.namecard-text {
    text-align: left; 
}

.namecard-text h2 {
    color: white; 
    margin: 0; 
}

.namecard-text p {
    font-family: 'Space Grotesk', sans-serif;
    margin: 5px 0 0 0; 
}

.website-features {
    background-image: url('imgs/woodback.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 976px;    
    height: 380px;   
    padding: 0 20 20 0px;
    border: 5px solid black;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.website-features h3 {
    margin-top: 50px;
}

.website-features h2 {
    color: white;
}

.portfolio-title {
    font-family: 'PixelFont', sans-serif;
}

/* START of animations */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

#home-icon.fade-in {
    animation-delay: 0s;
}

.portfolio-title.fade-in {
    animation-delay: 0.3s;
}

#header-line.fade-in {
    animation-delay: 0.6s;
}

#social-buttons.fade-in {
    animation-delay: 0.9s;
}

#namecard.fade-in {
    animation-delay: 1.2s;
}

#main.fade-in {
    animation-delay: 1.5s;
}

footer.fade-in {
    animation-delay: 1.8s;
}


/* END of animations */

